* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  max-width: 1280px;
  margin: 0 auto;
  font-family: 'Montserrat', sans-serif;
  display: flex;
  justify-content: center;
  background-image: linear-gradient(
      rgba(255, 255, 255, 0.5),
      rgba(255, 255, 255, 0.5)
    ),
    url('../images/bg-left.png');
  background-size: cover;
}

.container-wrapper {
  height: 600px;
  display: flex;
  position: absolute;
  top: 50%;
  margin-top: -300px;
}

/*----------------------------------------------------
								LOGIN SCREEN LEFT
----------------------------------------------------*/
.login-screen-left {
  width: 50%;
  background-image: linear-gradient(
      rgba(255, 255, 255, 0.3),
      rgba(255, 255, 255, 0.2)
    ),
    url('../images/bg-left.png');
  background-size: cover;
  padding: 40px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.login-logo {
  color: white;
  display: flex;
  align-items: center;
  font-size: 30px;
}

.login-logo img {
  width: 50px;
  margin-right: 20px;
}

.login-text-center {
  color: white;
}

.login-text-center h2 {
  font-size: 40px;
  margin-bottom: 20px;
}

.login-site {
  display: flex;
  justify-content: space-between;
  color: white;
  align-items: center;
}

.login-line-site {
  border-bottom: 2px solid white;
  width: 50%;
}

/*----------------------------------------------------
								LOGIN SCREEN LOGIN
----------------------------------------------------*/
.login-screen-right {
  width: 50%;
  padding: 40px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: white;
}

.login-lock-img {
  display: flex;
  flex-direction: row-reverse;
}

.login-lock-img img {
  width: 80px;
}

.login-sign-in {
  font-size: 26px;
  color: #292929;
}

.login-inputs input {
  border-radius: 40px;
  border: none;
  background-color: #e0e0e0;
  padding: 14px 40px;
  color: #bfbfbf;
  width: 100%;
  margin-bottom: 20px;
}

.form-button {
  width: 100%;
  color: white;
  background: rgb(2, 0, 36);
  background: linear-gradient(
    90deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(28, 134, 181, 1) 0%,
    rgba(0, 228, 255, 1) 100%
  );
  text-align: center;
  padding: 10px;
  border-radius: 20px;
  cursor: pointer;
  position: relative;
}

.form-button button {
  background-color: transparent;
  color: white;
  border: none;
  letter-spacing: 4px;
  font-weight: normal;
  cursor: pointer;
}

.form-button i {
  position: absolute;
  right: 20px;
  font-size: 26px;
  top: 6px;
}

.login-social-media {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;
  color: white;
}

.login-social-media > p {
  font-size: 12px;
  color: #bcbcbc;
  margin-bottom: 10px;
}

.login-social-media-button {
  background: rgb(2, 0, 36);
  background: linear-gradient(
    90deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(28, 134, 181, 1) 0%,
    rgba(0, 194, 255, 1) 100%
  );
  margin-bottom: 20px;
  border-radius: 20px;
  width: 100%;
  padding: 10px 40px;
  display: flex;
  justify-content: center;
  cursor: pointer;
  text-align: center;
  font-size: 14px;
}

.login-social-media-button:nth-child(3) {
  background: rgb(2, 0, 36);
  background: linear-gradient(
    90deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(28, 134, 181, 1) 0%,
    rgba(0, 99, 255, 1) 100%
  );
}

.login-social-media-button i {
  margin-right: 10px;
  position: relative;
  top: 2px;
}

/*----------------------------------------------------
								MEDIA QUERIES
----------------------------------------------------*/

@media screen and (max-width: 900px) {
  .container-wrapper {
    flex-direction: column;
    padding: 20px;
    position: static;
    margin-top: 0;
    height: auto;
    align-items: center;
  }

  .login-screen-left,
  .login-screen-right {
    width: 90%;
  }

  .login-screen-left {
    min-height: 300px;
    padding-top: 20px;
  }

  .login-screen-left h2 {
    font-size: 30px;
  }
}
